h1 {
  font-family: Canticle;
  font-size: 45px;
  font-style: bold;
}
.bigIcon {
  font-family: Delve;
  font-size: 120px;
}

@font-face {
  font-family: Delve;
  src: url("./fonts/DelveSystem-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: Canticle;
  src: url("./fonts/Ergata-Candor7.woff") format("woff");
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
