@font-face {
  font-family: Delve;
  src: url("./fonts/DelveSystem-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: Theia;
  src: url("./fonts/Theia-100.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: Theia;
  src: url("./fonts/Theia-200.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Theia;
  src: url("./fonts/Theia-300.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Theia;
  src: url("./fonts/Theia-400.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Theia;
  src: url("./fonts/Theia-500.woff") format("woff");
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body { 
  background-color: #222;
  font-family: Theia;
  font-weight: 300; 
  margin: 0;
}